.CharacterCard-container {
  height: 250px;
  width: 200px;
  box-shadow: 0 0 9px rgba(0, 0, 0, 0.583);
  border-radius: 10px;
  background-color: rgb(10, 10, 10);
  color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

  transition: transform 0.15s ease;
}

.CharacterCard-container:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.character-name {
  height: 15px;
}

.character-image {
  height: calc(100% - 15px);
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}
