.CharacterCard-container {
  position: relative;
  /* height: 300px; */
  width: 250px;
  box-shadow: 0 0 9px rgba(0, 0, 0, 0.583);
  border-radius: 10px;
  background-color: rgb(10, 10, 10);
  color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

  transition: transform 0.15s ease;
}

.CharacterCard-container:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.character-name {
  height: 20px;
}

.character-image {
  height: calc(100% - 20px);
  height: 250px;
  width: 100%;
  object-fit: contain;
  border-radius: 10px;
}

.character-description {
  position: absolute;
  width: 80%;
  top: 50%;
  left: 50%;
  border-radius: 10px;
  transform: translate(-50%, -50%);
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.CharacterCard-container:hover .character-description {
  background-color: rgb(52, 52, 52);
  padding: 10px;
  box-shadow: 0 0 9px rgba(0, 0, 0, 0.583);
  opacity: 1;
}

.FavoriteIcon-character {
  position: absolute;
  top: -12.5px;
  right: -12.5px;
}
